{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'index/css.html' %}
    {% block title %}
    <title>Quran Utla - Learn Quran, Arabic, and Islamic Studies</title>
    {% endblock title %}
</head>

<body>
        <div id="google_translate_element"></div>


    <div class="first-nav">
        <div class="container">
            <div class="social">
                <div class="item">
                    <a href="{% url 'main:contact' %}" class="book-free">Contact us</a>
                </div>
                <div class="item">
                    <a href="{{settings.facebook}}" class="facebook"><i class="fab fa-facebook"> </i></a>
                    <a href="{{settings.twitter}}" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="https://wa.me/+20{{settings.whatsapp}}" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
                    <a href="{{settings.telegram}}" class="telegram"><i class="fab fa-telegram"></i></a>
                    <a href="{{settings.youtube}}" class="telegram"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="{{settings.logo.url}}" alt="logo" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            About Us
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'about:about' %}">About Us</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'about:how_it_works' %}">How_It Works</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'about:terms' %}">Terms & Conditions</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Learning
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'learning:curriculum' %}">Curriculum</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'learning:methodology' %}">Teaching Methodology</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'learning:testimonials' %}">Testimonials</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Courses
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'course:quran' %}">Quran Courses</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'course:arabic' %}">Arabic Courses</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'course:islamic' %}">Islamic Courses</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:pricing' %}">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:blog' %}">Blog</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'dash:login' %}">Log In</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'main:teacher' %}">Be a Teacher</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'main:contact' %}">Contact us</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <!-- Logo and Description -->
                <div class="col-md-3 mb-4 mb-md-0">
                    <img src="{{settings.logo.url}}" alt="Logo" class="img-fluid mb-3" />
                    <p>
                        Quran Academy has become one of the leading online
                        Islamic schools in the world due to its good
                        reputation for many years in teaching Quran, Arabic
                        & Islamic Studies.
                    </p>
                    <a href="{% url 'main:contact' %}" class="get-start">Get Started Now</a>
                </div>
                <!-- Navigation Links -->
                <!-- Courses -->
                <div class="col-md-2 mb-4 mb-md-0">
                    <h5>Courses</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'course:arabic' %}">Arabic Language</a></li>
                        <li><a href="{% url 'course:islamic' %}">Islamic Studies</a></li>
                        <li><a href="{% url 'course:quran' %}">Quran & Tajweed</a></li>
                    </ul>
                </div>
                <!-- Pages -->
                <div class="col-md-2 mb-4 mb-md-0">
                    <h5>Pages</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'about:about' %}">About us</a></li>
                        <li><a href="{% url 'about:how_it_works' %}">How it works</a></li>
                        <li><a href="{% url 'main:pricing' %}">Pricing</a></li>
                        <li><a href="{% url 'blog:blog' %}">Blog</a></li>
                        <li><a href="{% url 'main:contact' %}">Contact Us</a></li>
                    </ul>
                </div>
                <!-- Contact Information -->
                <div class="col-md-3 mb-4 mb-md-0">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-phone"></i> +{{settings.phone}}</li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <a href="mailto:{{settings.email}}">{{settings.email}}</a>
                        </li>
                    </ul>
                    <h5>Follow Us</h5>
                    <div class="social-icons">
                        <a href="{{settings.facebook}}" class="text-white"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="{{settings.twitter}}" class="text-white"><i class="fab fa-twitter fa-2x"></i></a>
                        <a href="https://wa.me/{{settings.whatsapp}}" class="text-white"><i class="fab fa-whatsapp fa-2x"></i></a>
                        <a href="{{settings.telegram}}" class="text-white"><i class="fab fa-telegram-plane fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {% include 'index/js.html' %}
</body>

</html>