    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO Meta Tags -->
    <meta name="description"
        content="Learn Quran, Arabic, and Islamic studies with Quran Utla. blogs Comprehensive resources and expert guidance to enhance your knowledge.">
    <meta name="keywords" content="Quran, blogs, about, Learn Quran, Arabic, Learn Arabic, Islamic Studies, Quran Utla">
    <meta name="author" content="Quran Utla">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://www.quranutla.com/">

    <!-- Social Media Meta Tags -->
    <meta property="og:title" content="Quran Utla - Learn Quran, Arabic, and Islamic Studies">
    <meta property="og:description"
        content="Join Quran Utla to learn Quran, Arabic, and Islamic studies. Access comprehensive resources and expert guidance.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.quranutla.com/">
    <meta property="og:image" content="https://www.quranutla.com/images/og-image.jpg">
    <meta property="og:site_name" content="Quran Utla">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Quran Utla - Learn Quran, Arabic, and Islamic Studies">
    <meta property="twitter:description"
        content="Join Quran Utla to learn Quran, Arabic, and Islamic studies. Access comprehensive resources and expert guidance.">
    <meta property="twitter:image" content="https://www.quranutla.com/images/twitter-image.jpg">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="{% static 'index/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/style.css' %}">


    <!-- Favicon -->
    <link rel="icon" href="{% static 'index/img/logo.png' %}" type="image/x-icon">

    <!-- Structured Data (JSON-LD) -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Quran Utla",
            "url": "https://www.quranutla.com",
            "logo": "https://www.quranutla.com/images/logo.png",
            "sameAs": [
                "https://www.facebook.com/quranutla",
                "https://twitter.com/quranutla",
                "https://www.instagram.com/quranutla"
            ],
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "+1-800-555-5555",
                "contactType": "Customer Service"
            }
        }
    </script>
