{% load static %}
<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Quran Utla</title>
    {% include 'css.html' %}
</head>

<body class="crm_body_bg">
    
    {% if request.user.is_authenticated %}
    <nav class="sidebar">
        <div class="logo d-flex justify-content-between">
            {% if request.user.type == "Admin" or request.user.type == "Manager" %}
                <a href="/"><img src="{{settings.logo.url}}" alt="logo"></a>
            {% else %}
                <img src="{{settings.logo.url}}" alt="logo">
            {% endif %}
            <div class="sidebar_close_icon d-lg-none">
                <img style="width:30px;" src="{% static 'img/minu.png' %}" alt="">
            </div>
        </div>
        <ul id="sidebar_menu">
            {% if request.user.type == "Admin" %}
            <li class="mm-active">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/icons/settings.png' %}" alt>
                    <span>الاعدادات</span>
                </a>
                <ul>
                    <li><a class="active" href="{% url 'dash:tax'%}">الضريبة</a></li>
                    <li><a href="{% url 'dash:billing_month'%}">شهور الفواتير</a></li>
                </ul>
            </li>
            {% endif %}
            {% if request.user.type == "Admin" or request.user.type == "Manager" %}
            <li class>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/icons/pepole.png' %}" alt>
                    <span>الأشخاص</span>
                </a>
                <ul>
                    {% if request.user.type == "Admin" %}
                    <li><a href="{% url 'dash:register_manager' %}">المشرفين</a></li>
                    {% endif %}
                    <li><a href="{% url 'dash:register_instructor' %}">المعلمين</a></li>
                    <li><a href="{% url 'dash:register_family' %}">العائلة</a></li>
                    <li><a href="{% url 'dash:register_student' %}">الطلاب</a></li>
                    <li><a href="{% url 'dash:instructor_student' %}">الطلاب والمعلمين</a></li>
                    {% if request.user.type == "Admin" %}
                    <li><a href="{% url 'dash:register_marketer' %}">المسوقين</a></li>
                    {% endif %}
                    <li><a href="{% url 'dash:marketer_student_view' %}">الطلاب ولمسوقين</a></li>
                </ul>
            </li>
            {% endif %}
            {% if request.user.type == "Marketer" %}
            <li class>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/icons/pepole.png' %}" alt>
                    <span>الطلاب</span>
                </a>
                <ul>
                    <li><a href="{% url 'dash:marketer_students' %}">الطلاب</a></li>
                </ul>
            </li>
            {% endif %}
            {% if not request.user.type == "Marketer" %}
            <li class>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/icons/classes.png' %}" alt>
                    <span>تسجيل الحصص</span>
                </a>
                <ul>
                    <li><a href="{% url 'dash:classes' %}">الحصص</a></li>
                </ul>
            </li>
            {% endif %}
            {% if request.user.type == "Admin" or request.user.type == "Instructor" or request.user.type == "Marketer" %}
            {% if request.user.type == "Admin" %}
            <li class>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/icons/pass.png' %}" alt>
                    <span>تغيير كلمة المرور</span>
                </a>
                <ul>
                    <li><a href="{% url 'dash:change_password' %}">تغيير كلمة السر</a></li>
                </ul>
            </li>
            {% endif %}
            <li class>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/icons/invoices.png' %}" alt>
                    <span>الفواتير</span>
                </a>
                <ul>
                    {% if request.user.type == "Admin" %}
                    <li><a href="{% url 'dash:invoices' %}">العائلات</a></li>
                    {% endif %}
                    {% if request.user.type == "Admin" or request.user.type == "Instructor" %}
                    {%if request.user.type == "Instructor" %}
                    <li><a href="{% url 'dash:instructor_invoices_detail' %}">الفاتوره الشخصية</a></li>
                    {% else %} 
                    <li><a href="{% url 'dash:instructor_invoices' %}"> المعلمين</a></li>
                    {% endif %}
                    {% endif %}
                    {% if request.user.type == "Admin" or request.user.type == "Marketer" %}
                    <li><a href="{% url 'dash:marketer_commission_view' %}">المسوقين</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}

            {% if request.user.type == "Admin" or request.user.type == "Manager" %}
            <li class>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/icons/discound.png' %}" alt>
                    <span>السلف والخصومات</span>
                </a>
                <ul>
                    <li><a href="{% url 'dash:advancesdisc' %}">الخصومات</a></li>
                </ul>
            </li>
            {% endif %}
            {% if request.user.type == "Admin" %}
            <li class>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/icons/links.png' %}" alt>
                    <span>روابط الفواتير</span>
                </a>
                <ul>
                    <li><a href="{% url 'dash:invoices_link' %}">العائلات</a></li>
                </ul>
            </li>
            {% endif %}
            {% if request.user.type == "Admin" or request.user.type == "Manager" %}
            <li class>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/icons/delete.png' %}" alt>
                    <span>الأشخاص المحذوفين</span>
                </a>
                <ul>
                    <li><a href="{% url 'dash:users_removed' %}">المحذوفين</a></li>
                </ul>
            </li>
            {% endif %}
            {% if request.user.type == "Admin" %}
            <li class>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/icons/contact.png' %}" alt>
                    <span>طلبات تواصل</span>
                </a>
                <ul>
                    <li><a href="{% url 'dash:contact' %}">تواصل</a></li>
                    <li><a href="{% url 'dash:teacher_contact' %}">طلبات معلمين</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

    <section class="main_content dashboard_part">
        {% if request.user.is_authenticated %}
        <div class="container-fluid g-0">
            <div class="row">
                <div class="col-lg-12 p-0">
                    <div class="header_iner d-flex justify-content-between align-items-center">
                        <div class="sidebar_icon d-lg-none">
                            <img style="width:20px;" src="{% static 'img/minu.png' %}" alt="">
                        </div>
                        <div class="header_right d-flex justify-content-between align-items-center">
                            <div class="header_notification_warp d-flex align-items-center">
                                <li><a href="{% url 'dash:logout'%}" class="text-danger" style="font-size:12px; margin:0 10px;">تسجيل الخروج</a></li>
                                <li><a href="#" class="text-info" style="font-size:12px; margin:0 10px;"">{{request.user.name}} - {{request.user.phone}}</a></li>
                            </div>
                            {% if request.user.type == "Admin" %}
                            <div class="profile_info text-right">
                                <img style="width: 30px;" src="{% static 'img/icons/home.png' %}" alt>
                                <div class="profile_info_iner">
                                    <p>Welcome Admin!</p>
                                    <div class="profile_info_details">
                                        <a href="/admin/main/">اعدادات الموقع الخارجى</a>
                                        <a href="/admin/blog/">المقالات</a>
                                        <a href="/admin/course/">الكورسات</a>
                                        <a href="/admin/learning/">تعلم</a>
                                        <a href="/admin/about/">ماذا عنا</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        
        <br><br><br>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} text-center" role="alert">
                <li>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        {% block title %}
        {% endblock title %}
        <div class="main_content_iner">
            <div class="container-fluid plr_30 body_white_bg pt_30">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <div class="footer_part">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="footer_iner text-center">
                            <p>2024 © Influence - Designed by<a href=""> Eslam Essam</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    {% include 'js.html' %}
</body>
</html>
