{% load static %}
<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Quran Utla</title>
    {% include 'css.html' %}
</head>

<body class="crm_body_bg">
    
    {% if request.user.is_authenticated %}
    <nav class="sidebar">
        <div class="logo d-flex justify-content-between">
            <a href="{% url 'dash:dashboard' %}"><img src="{{settings.logo.url}}" alt="logo"></a>
            <div class="sidebar_close_icon d-lg-none">
                <i class="ti-close"></i>
            </div>
        </div>
        <ul id="sidebar_menu">
            {% if request.user.type == "Admin" %}
            <li class="mm-active">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/menu-icon/1.svg' %}" alt>
                    <span>الاعدادات</span>
                </a>
                <ul>
                    <li><a class="active" href="{% url 'dash:tax'%}">الضريبة</a></li>
                    <li><a href="{% url 'dash:billing_month'%}">شهور الفواتير</a></li>
                </ul>
            </li>
            {% endif %}
            {% if request.user.type == "Admin" or request.user.type == "Manager" %}
            <li class>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/menu-icon/2.svg' %}" alt>
                    <span>الأشخاص</span>
                </a>
                <ul>
                    {% if request.user.type == "Admin" %}
                    <li><a href="{% url 'dash:register_manager' %}">المشرفين</a></li>
                    {% endif %}
                    <li><a href="{% url 'dash:register_instructor' %}">المعلمين</a></li>
                    <li><a href="{% url 'dash:register_family' %}">العائلة</a></li>
                    <li><a href="{% url 'dash:register_student' %}">الطلاب</a></li>
                    <li><a href="{% url 'dash:instructor_student' %}">الطلاب والمعلمين</a></li>
                    {% if request.user.type == "Admin" %}
                    <li><a href="{% url 'dash:register_marketer' %}">المسوقين</a></li>
                    {% endif %}
                    <li><a href="{% url 'dash:marketer_student_view' %}">الطلاب ولمسوقين</a></li>
                </ul>
            </li>
            {% endif %}

            <li class>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/menu-icon/3.svg' %}" alt>
                    <span>تسجيل الحصص</span>
                </a>
                <ul>
                    <li><a href="{% url 'dash:classes' %}">الحصص</a></li>
                </ul>
            </li>
            {% if request.user.type == "Admin" or request.user.type == "Instructor" %}
            {% if request.user.type == "Admin" %}
            <li class>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/menu-icon/4.svg' %}" alt>
                    <span>تغيير كلمة المرور</span>
                </a>
                <ul>
                    <li><a href="{% url 'dash:change_password' %}">تغيير كلمة السر</a></li>
                </ul>
            </li>
            {% endif %}
            <li class>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt>
                    <span>الفواتير</span>
                </a>
                <ul>
                    {% if request.user.type == "Admin" %}
                    <li><a href="{% url 'dash:invoices' %}">العائلات</a></li>
                    {% endif %}
                    <li><a href="{% url 'dash:instructor_invoices' %}">المعلمين</a></li>
                </ul>
            </li>
            {% endif %}
            {% if request.user.type == "Admin" or request.user.type == "Manager" %}
            <li class>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/menu-icon/6.svg' %}" alt>
                    <span>السلف والخصومات</span>
                </a>
                <ul>
                    <li><a href="{% url 'dash:advancesdisc' %}">الخصومات</a></li>
                </ul>
            </li>
            {% endif %}
            {% if request.user.type == "Admin" %}
            <li class>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/menu-icon/7.svg' %}" alt>
                    <span>روابط الفواتير</span>
                </a>
                <ul>
                    <li><a href="{% url 'dash:invoices_link' %}">العائلات</a></li>
                </ul>
            </li>
            {% endif %}
            {% if request.user.type == "Admin" or request.user.type == "Manager" %}
            <li class>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/menu-icon/7.svg' %}" alt>
                    <span>الأشخاص المحذوفين</span>
                </a>
                <ul>
                    <li><a href="{% url 'dash:families_removed' %}">العائلات</a></li>
                    <li><a href="{% url 'dash:instructor_removed' %}">المعلمين</a></li>
                </ul>
            </li>
            {% endif %}
            {% if request.user.type == "Admin" %}
            <li class>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'img/menu-icon/7.svg' %}" alt>
                    <span>طلبات تواصل</span>
                </a>
                <ul>
                    <li><a href="{% url 'dash:contact' %}">الطلبات</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

    <section class="main_content dashboard_part">
      <br><br><br>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} text-center" role="alert">
                <li>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        {% block title %}
        {% endblock title %}
        <div class="main_content_iner">
            <div class="container-fluid plr_30 body_white_bg pt_30">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <div class="footer_part">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="footer_iner text-center">
                            <p>2024 © Influence - Designed by<a href=""> Eslam Essam</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'js.html' %}
</body>
</html>