{% load static %}
<link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">
<link rel="stylesheet" href="{% static 'css/bootstrap1.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/themefy_icon/themify-icons.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/swiper_slider/css/swiper.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/select2/css/select2.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/niceselect/css/nice-select.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/owl_carousel/css/owl.carousel.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/gijgo/gijgo.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/font_awesome/css/all.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/tagsinput/tagsinput.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/datatable/css/jquery.dataTables.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/datatable/css/responsive.dataTables.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/datatable/css/buttons.dataTables.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/text_editor/summernote-bs4.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/morris/morris.css' %}">
<link rel="stylesheet" href="{% static 'vendors/material_icon/material-icons.css' %}" />
<link rel="stylesheet" href="{% static 'css/metisMenu.css' %}">
<link rel="stylesheet" href="{% static 'css/dash.css' %}" />
<link rel="stylesheet" href="{% static 'css/colors/default.css' %}" id="colorSkinCSS">