* {
    font-family: 'Cairo', sans-serif !important;
}


.main_content_iner {
    direction: rtl;
}




.icon {
    width: 30px;
    transition: .2s;

}

.icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

button {
    margin-top: 20px;
    width: 100% !important;
}


.btn.btn-outline-primary:hover a {
    color: #fff;
}

.form-control {
    margin-bottom: 5px;

}


.btn-primary {
    background-color: #2bc6ef !important;
    border-color: #fff;
}


.total-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total {
    padding: 20px 50px;
    direction: ltr !important;
    box-shadow: 1px 1px 10px #ccc;

}


.total p {
    margin: 10px 0;
    color: #555;
    font-size: 20px;
    border-bottom: 1px solid #dfdfdf;
}

.total span {
    color: black;
    margin-right: 10px;
}


.list-family {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: ltr;
}

.list-family img {
    width: 150px;
}

.title-invoices h3,
.title-invoices h6 {
    color: #2bc6ef !important;
    ;
}


.hidden {
    display: none;
}


.backgrounds img {
    width: 100%;
    height: auto;
    object-fit: contain;
}


.has-arrow img {
    width: 25px;
}

.search {
    position: relative;
}

.register-button {
    position: relative;
}

.profile_info img {
    border-radius: unset !important;
    border: none !important;
}


.search input[type="search"] {
    padding-left: 40px;
}


.register-button button {
    position: absolute;
    left: 0;
    top: -23px;
    transform: translateY(-50%);
    cursor: pointer;
}

.search button {
    position: absolute;
    left: 10px;
    top: 0;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline;
    width: unset !important;
}

.search button img {
    width: 20px;
    height: auto;
}

.table-wrapper {
    direction: ltr;
}

.details-row {
    display: none;
}

.clickable-row {
    cursor: pointer;
}

.table-wrapper .details-content {
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

@media (max-width: 575.98px) {
    .list-family {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        text-align: center;

    }

    .list-family img {
        margin: 15px 0;

    }

    .total-list {
        flex-direction: column-reverse;
        align-items: center;
    }

    .total-list img {
        width: 250px;
        margin-top: 20px;
    }

}


.bottom-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}