{% extends "base.html" %}
{% load static %}

{% block title %}
<h3 class="text-center">السلف والخصومات</h3>
{% endblock title %}
{% block content %}
<!-- Button trigger modals -->
<div class="row">
    <div class="col-md-3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropdeiscound">
            إضافة سلفة
        </button>
    </div>
</div>
<hr/>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">إسم الشخص</th>
            <th scope="col">مبلغ السلفة</th>
            <th scope="col">تعليق</th>            
            <th scope="col">تاريخ السلفة</th>            
            <th scope="col">تاريخ التسجيل</th>
            <th scope="col">حذف</th>
        </tr>
    </thead>
    <tbody>
        
        {% for disc in disc %}
        <tr>
            {% if disc.instructor %}
            <td>{{disc.instructor.user.name}}</td>
            {% else %}
            <td>{{disc.marketer.user.name}}</td>
            {% endif%}
            <td>{{disc.amount}}</td>
            <td>{{disc.comment}}</td>     
            <td>{{disc.date}}</td>     
            <td>{{disc.created_at}}</td>     
            <td><a href="#" data-bs-toggle="modal" data-bs-target="#deleteModaldisc-{{ disc.id }}"><img class="icon" src="{% static 'img/delete.png'%}"></a></td>     
        </tr>         
        {% endfor %}
            
    </tbody>
</table>

<!-- Modal for Family -->
<div class="modal fade" id="staticBackdropdeiscound" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">إضافة سلفه</h5>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="instructor" onclick="toggleFields('instructor')" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            معلم
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="marketer" onclick="toggleFields('marketer')">
                        <label class="form-check-label" for="flexRadioDefault2">
                            مسوق
                        </label>
                    </div>
                    <br>
                    <div id="instructor-field" style="display: block;">
                        {{ form.instructor.label_tag }}{{ form.instructor }}
                    </div>
                    <div id="marketer-field" style="display: none;">
                        {{ form.marketer.label_tag }}{{ form.marketer }}
                    </div>
                    {{ form.amount.label_tag }}{{ form.amount }}
                    {{ form.comment.label_tag }}{{ form.comment }}
                    {{ form.date.label_tag }}{{ form.date }}
                    <input type="submit" class="hidden" id="hiddenadddescound">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="document.getElementById('hiddenadddescound').click();">إضافة</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>

{% for disc in disc %}
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModaldisc-{{ disc.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ class.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">تأكيد الحذف</h5>
            </div>
            <div class="modal-body">
                هل أنت متأكد أنك تريد حذف هذه السلفة؟
            </div>
            <div class="modal-footer">
                <a style="width:100%;" class="btn btn-danger" href="{% url 'dash:delete_disc' disc.id %}">حذف</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>
    function toggleFields(selected) {
        var instructorField = document.getElementById('instructor-field');
        var marketerField = document.getElementById('marketer-field');
        
        if (selected === 'instructor') {
            instructorField.style.display = 'block';
            marketerField.style.display = 'none';
        } else if (selected === 'marketer') {
            instructorField.style.display = 'none';
            marketerField.style.display = 'block';
        }
    }
</script>
{% endblock content %}