{% extends "base.html" %}
{% load static %}

{% block title %}
<h3 class="text-center">تغيير كلمة المرور</h3>
{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropchange">
            تغيير كلمة المرور 
        </button>
    </div>
</div>
<hr/>

<!-- Button trigger modals -->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">تغيير كلمة المرور</button>
</form>

<!-- Modal for Family -->
<div class="modal fade" id="staticBackdropchange" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">تغيير كلمة المرور</h5>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'dash:admin_password_change' %}">
                    {% csrf_token %}
                    {{ admin_change.as_p }}
                    <input type="submit" class="hidden" id="hiddenSubmitchangepass">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="document.getElementById('hiddenSubmitchangepass').click();">تغيير</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}