{% extends "base.html" %}
{% load static %}

{% block title %}
<h3 class="text-center">أضافة الحصص</h3>
{% endblock title %}
{% block content %}

<div class="row justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="search">
            <form method="get" role="search">
                <input class="form-control" type="search" placeholder="بحث..." aria-label="Search" name="search" value="{{ search_query }}">
                <button type="submit">
                    <img src="{% static 'img/search.png'%}" alt="">
                </button>
            </form>
        </div>
    </div>
    
    <div class="col-md-6">
        <form method="GET" action="{% url 'dash:classes' %}">
            <div class="mb-2">
                <input type="month" class="form-control" id="dateInput" name="filter_month"
                    value="{% if request.GET.filter_month %}{{ request.GET.filter_month }}{% else %}{{ current_date|date:'Y-m' }}{% endif %}"
                    onchange="this.form.submit()">
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropclasses">
            أضافة حصة 
        </button>
    </div>
</div>
<hr/>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">المعلم</th>
            <th scope="col">ولى الأمر</th>
            <th scope="col">الطالب</th>
            <th scope="col">موعد الحصة</th>
            <th scope="col">عدد الساعات</th>
            {% if request.user.type == "Admin" or request.user.type == "Manager" %}
            <th scope="col">موعد تسجيل الحصة</th>
            {% endif %}
            <th scope="col">التقيم</th>
            <th scope="col">أسم الماده</th>
            <th scope="col">ملحوظة</th>
            {% if request.user.type == "Admin" or request.user.type == "Manager" %}
            <th scope="col">تعديل</th>
            <th scope="col">حذف</th>
            {% endif %}
            
        </tr>
    </thead>
    <tbody>
        {% for class in classes %}
        <tr>
            <td>{{class.instructor}}</td>
            <td>{{class.family}}</td>
            <td>{{class.student}}</td>     
            <td>{{class.date}}</td>   
            <td>{{class.number_class_hours}}</td>     
            {% if request.user.type == "Admin" or request.user.type == "Manager" %}  
            <td>{{class.created_at}}</td>  
            {% endif %}
            <td>{{class.evaluation}}</td>     
            <td>{{class.subject_name}}</td>     
            <td>{{class.notes}}</td>     
            {% if request.user.type == "Admin" or request.user.type == "Manager" %}  
            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editModalclasses-{{ class.id }}"><img class="icon" src="{% static 'img/edit.png'%}"></a></td>
            <td><a href="#" data-bs-toggle="modal" data-bs-target="#deleteModalclasses-{{ class.id }}"><img class="icon" src="{% static 'img/delete.png'%}"></a></td>
            {% endif %}
        </tr>
        {% empty%}
        <h6 class="text-danger text-center">لا يوجد حصص</h>
        {% endfor %}
    </tbody>
</table>


<!-- Modal for Student -->
<div class="modal fade" id="staticBackdropclasses" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">تسجيل الحصه</h5>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="user_type" value="Student">
                    <input type="submit" class="hidden" id="hiddenaddclass">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="document.getElementById('hiddenaddclass').click();">تسجيل</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>

{% for class in classes %}
<div class="modal fade" id="editModalclasses-{{ class.id }}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">تعديل الحصة</h5>
            </div>
            <div class="modal-body">
                <form method="POST" id="editForm" action="{% url 'dash:edit_classes' class.id %}">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="dateInput" class="form-label">تاريخ الحصة</label>
                        <input type="date" class="form-control" name="date" value="{{ class.date|date:'Y-m-d' }}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">عدد ساعات الحصة</label>
                        <select class="form-select" name="number_class_hours">
                            <option value="30" {% if family.number_class_hours == "30" %}selected{% endif %}>30 دقيقة</option>
                            <option value="45" {% if family.number_class_hours == "45" %}selected{% endif %}>45 دقيقة</option>
                            <option value="60" {% if family.number_class_hours == "60" %}selected{% endif %}>60 دقيقة</option>
                            <option value="90" {% if family.number_class_hours == "90" %}selected{% endif %}>90 دقيقة</option>
                            <option value="120" {% if family.number_class_hours == "120" %}selected{% endif %}>120 دقيقة</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">التقييم</label>
                        <select class="form-select" name="evaluation">
                            <option value="Low" {% if family.evaluation == "Low" %}selected{% endif %}>ضعيف</option>
                            <option value="Good" {% if family.evaluation == "Good" %}selected{% endif %}>مقبول</option>
                            <option value="Vgood" {% if family.evaluation == "Vgood" %}selected{% endif %}>جيد</option>
                            <option value="Excellence" {% if family.evaluation == "Excellence" %}selected{% endif %}>امتياز</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="subject_name" class="form-label">إسم المادة</label>
                        <input type="text" class="form-control" name="subject_name" value="{{class.subject_name}}">
                    </div>

                    <div class="mb-3">
                        <label for="notes" class="form-label">ملحوظة</label>
                        <textarea class="form-control" type="text" name="notes" id="notes">{{class.notes}}</textarea>
                    </div>

                    <button type="submit" class="hidden" id="hiddenSubmitBtnclass{{class.id}}"></button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveChangesBtn" onclick="document.getElementById('hiddenSubmitBtnclass{{class.id}}').click();">حفظ التغييرات</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for class in classes %}
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModalclasses-{{ class.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ class.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">تأكيد الحذف</h5>
            </div>
            <div class="modal-body">
                هل أنت متأكد أنك تريد حذف هذه الحصة؟
            </div>
            <div class="modal-footer">
                <a style="width:100%;" class="btn btn-danger" href="{% url 'dash:delete_classes' class.id %}">حذف</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const familySelect = document.getElementById('id_family');
        const studentSelect = document.getElementById('id_student');

        familySelect.addEventListener('change', function () {
            const familyId = this.value;
            
            // Clear the current student options
            studentSelect.innerHTML = '<option value="">اختر الطالب</option>';

            if (familyId) {
                fetch(`/dashboard/get_students_by_family/${familyId}/`)
                    .then(response => response.json())
                    .then(data => {
                        data.students.forEach(student => {
                            const option = document.createElement('option');
                            option.value = student.id;
                            option.textContent = student['name'];
                            studentSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error fetching students:', error));
            }
        });
    });
</script>
{% endblock content %}