{% extends "base.html" %}
{% load static %}

{% block title %}
<h3 class="text-center">طلبات تواصل</h3>
{% endblock title %}
{% block content %}
<!-- Button trigger modals -->


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">الأسم</th>
            <th scope="col">رقم الهاتف<</th>
            <th scope="col">الرسالة</th>
            <th scope="col">التاريخ</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{contact.name}}</td>
                <td>{{contact.whatsapp}}</td>
                <td>{{contact.message}}</td>
                <td>{{contact.created_at}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock content %}