{% extends "base.html" %}
{% load static %}
{% block title %}
<div class="title-invoices">
    <h3 class="text-center">فاتورة العائلة</h3>
    <p class="text-center">فاتورة شهر {{ selected_month|date:"m/Y" }}</p>
</div>
{% endblock title %}

{% block content %}
    <div class="list-family">
        <ul>
            <li>أسم العائلة : {{ family.name }}</li>
            <li>رقم الهاتف : {{ family.number }}</li>
            <li>العنوان : {{ family.address }}</li>
        </ul>

        <ul>
            <li>أكاديمية قرأن يتلى</li>
            <li>رقم الهاتف : 01158268124</li>
            <li>البريد الألكترونى : admin@quran.com</li>
            <li>العنوان مصر - القاهرة</li>
        </ul>

        <img src="{% static 'img/logo.png' %}" alt="logo">
    </div>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>اسم الطالب</th>
                <th>إجمالي الساعات</th>
                <th>إجمالي الحصص</th>
                <th>الإجمالي قبل الضريبة</th>
                <th>الإجمالي بعد الضريبة</th>
                <th>فاتورة الطالب</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student }}</td>
                <td>{{ student.total_hours }}</td>
                <td>{{ student.total_classes }}</td>
                <td>${{ student.total_before_tax|floatformat:"2" }}</td>
                <td>${{ student.total_after_tax|floatformat:"2" }}</td>
                <td>
                    {% if student.total_hours == 0 %}
                        لا توجد حصص في هذا الشهر
                    {% else %}
                        <a href="{% url 'dash:student_invoice_details' student.id %}">
                            <img class="icon" src="{% static 'img/validating-ticket.png' %}">
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <hr>
    <h4>معلومات الضريبة</h4>
    <p>نسبة الضريبة الحالية: {{ tax_percentage }}%</p>
    <br>
{% endblock content %}
