{% extends "base.html" %}
{% load static %}
{% block title %}
<h3 class="text-center">All Family Invoices</h3>
{% endblock title %}

{% block content %}
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="search">
                <form method="get" role="search">
                    <input class="form-control" type="search" placeholder="بحث..." aria-label="Search" name="search" value="{{ search_query }}">
                    <button type="submit">
                        <img src="{% static 'img/search.png'%}" alt="">
                    </button>
                </form>
            </div>
        </div>
        
        <div class="col-md-6">
            <form method="GET" action="{% url 'dash:invoices' %}">
                <div class="mb-2">
                    <input type="month" class="form-control" id="dateInput" name="filter_month"
                        value="{% if request.GET.filter_month %}{{ request.GET.filter_month }}{% else %}{{ current_date|date:'Y-m' }}{% endif %}"
                        onchange="this.form.submit()">
                </div>
            </form>
        </div>
    </div>

<div class="table-wrapper">

<table class="table table-striped" style="direction: ltr;">
    <thead>
        <tr>
            <th scope="col">Family Name</th>
            <th scope="col">Sessions</th>
            <th scope="col">Hours</th>
            
        </tr>
    </thead>
    {% if invoices|length > 0 %}
    <tbody>
    {% for family_id, total in family_totals.items %}
    <tr class="clickable-row">
        <td>{{ total.family.name }} <img style="width: 10px;" src="{% static 'img/plus.png' %}" alt="plus"></td>
        <td>{{ total.total_sections }}</td>
        <td>{{ total.total_hours }}</td>
    </tr>
    <tr class="details-row">
        <td colspan="8"> <!-- Adjust colspan if necessary to match your table's column count -->
            <div class="details-content">
                <p><strong>Cash:</strong> {{ total.total_salary|floatformat:"2" }} $</p>
                <p><strong>Phone:</strong> {{ total.family.number }}</p>
                <p><strong>Link:</strong> <a href="https://quranutla.com/dashboard/family_inv_de/{{ family_id }}?month={{ month }}&year={{ year }}">The Invoice Link</a></p>
                <p><strong>Invoices:</strong> <a href="{% url 'dash:family_invoice_details' family_id %}?month={{ month }}&year={{ year }}"><img class="icon" src="{% static 'img/validating-ticket.png' %}" alt="Invoice"></a></p>
                <p><strong>WhatsApp:</strong> <a href="https://wa.me/{{ total.family.number }}?text=السلام%20عليكم%20ورحمة%20الله%20وبركاته%0A🌹الإدارة%20المالية%20لمركز%20قران%20يتلى%20تتمنى%20لكم%20التوفيق🌹%0Aتم%20اصدار%20فاتورة%20شهر%20{{ current_date|date:'F%20Y' }}%0Aإجمالي%20المستحقات%20لهذا%20الشهر%20{{ total.total_salary|floatformat:'2' }}%0Aيمكنكم%20مراجعة%20الفاتورة%20من%20خلال%20هذا%20الرابط%0Ahttps%3A%2F%2Fquranutla.com%2Fdashboard%2Ffamily_inv_de%2F{{ family_id }}%3Fmonth%3D{{ month }}%26year%3D{{ year }}%0A🌹%20وجزاكم%20الله%20خيرا%20🌹" target="_blank"><img class="icon" src="{% static 'img/whatsapp.png' %}" alt="Contact via WhatsApp"></a></p>
            </div>
        </td>
    </tr>
    {% endfor %}
</tbody>
    {% else %}
    <p class="text-danger text-center">There are no invoices for the specified month.</p>
    {% endif %}
</table>
</div>

<div class="total-list">
    <div class="col-md 6">
        <img src="{% static 'img/logo.png' %}" alt="logo">
    </div>
    <div class="col-md 6">

        <div class="total">
            <hr>
            <h3>The Total</h3>
            <hr>
            <div class="list">
                <div class="col">
                    <p>Total Sessions: <span>( {{ overall_totals.total_sections }} )</span></p>
                </div>
                <div class="col">
                    <p>Total Hour: <span>( {{ total_hours }} )</span></p>
                </div>
                <div class="col">
                    <p>Total Salary Students: <span>( ${{ overall_totals.total_salary|floatformat:"2" }} )</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>document.addEventListener("DOMContentLoaded", function () {
    var clickableRows = document.querySelectorAll(".clickable-row");
    clickableRows.forEach(function (row) {
        row.addEventListener("click", function () {
            var nextRow = this.nextElementSibling;
            if (nextRow && nextRow.classList.contains("details-row")) {
                nextRow.style.display = (nextRow.style.display === "table-row") ? "none" : "table-row";
            }
        });
    });
});</script>

{% endblock content %}