{% extends "base.html" %}
{% load static %}
{% block title %}
<h3 class="text-center">All Family Invoices</h3>
{% endblock title %}

{% block content %}
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="search">
                <form method="get" role="search">
                    <input class="form-control" type="search" placeholder="بحث..." aria-label="Search" name="search" value="{{ search_query }}">
                    <button type="submit">
                        <img src="{% static 'img/search.png'%}" alt="">
                    </button>
                </form>
            </div>
        </div>
        
        <div class="col-md-6">
            <form method="GET" action="{% url 'dash:invoices' %}">
                <div class="mb-2">
                    <input type="month" class="form-control" id="dateInput" name="filter_month"
                        value="{% if request.GET.filter_month %}{{ request.GET.filter_month }}{% else %}{{ current_date|date:'Y-m' }}{% endif %}"
                        onchange="this.form.submit()">
                </div>
            </form>
        </div>
    </div>


<table class="table table-striped" style="direction: ltr;">
    <thead>
        <tr>
            <th scope="col">Family Name</th>
            <th scope="col">Sessions</th>
            <th scope="col">Hours</th>
            <th scope="col">Cash</th>
            <th scope="col">Phone</th>
            <th scope="col">Link</th>
            <th scope="col">Invoices</th>
            <th scope="col">WhatsApp</th>
        </tr>
    </thead>
    {% if invoices|length > 0 %}
    <tbody>
        {% for family_id, total in family_totals.items %}
        <tr>
            <td>{{ total.family.name }}</td>
            <td>{{ total.total_sections }}</td>
            <td>{{ total.total_hours }}</td>
            <td>{{ total.total_salary|floatformat:"2" }} $</td>
            <td>{{ total.family.number}}</td>
            <td><a
                    href="https://quranutla.com/dashboard/family_inv_de/{{ family_id }}?month={{ month }}&year={{ year }}">The Invoice Link</a>
            </td>
            <td><a href="{% url 'dash:family_invoice_details' family_id %}?month={{ month }}&year={{ year }}"><img class="icon"
                        src="{% static 'img/validating-ticket.png' %}"></a></td>
            <td>
    <a href="https://wa.me/{{ total.family.number }}?text={% urlencode encoded_message %} https://quranutla.com/dashboard/family_inv_de/{{ family_id }}?month={{ month }}&year={{ year }} إجمالي المستحقات  لهذا الشهر {{ total.total_salary }}%0Aيمكنكم مراجعة الفاتورة من خلال هذا الرابط%0A🌹 وجزاكم الله خيرا 🌹" target="_blank">
        <img class="icon" src="{% static 'img/whatsapp.png' %}" alt="Contact via WhatsApp">
    </a>
</td>
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <p class="text-danger text-center">There are no invoices for the specified month.</p>
    {% endif %}
</table>

<div class="total-list">
    <div class="col-md 6">
        <img src="{% static 'img/logo.png' %}" alt="logo">
    </div>
    <div class="col-md 6">

        <div class="total">
            <hr>
            <h3>The Total</h3>
            <hr>
            <div class="list">
                <div class="col">
                    <p>Total Sessions: <span>( {{ overall_totals.total_sections }} )</span></p>
                </div>
                <div class="col">
                    <p>Total Hour: <span>( {{ total_hours }} )</span></p>
                </div>
                <div class="col">
                    <p>Total Salary Students: <span>( ${{ overall_totals.total_salary|floatformat:"2" }} )</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}