{% extends "base.html" %}
{% load static %}

{% block title %}
<h3 class="text-center">تسجيل عائلة</h3>
{% endblock title %}
{% block content %}
<!-- Button trigger modals -->

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="register-button">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropfamily">
            تسجيل عائلة
        </button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="search">
                <form method="get" role="search">
                    <input class="form-control" type="search" placeholder="بحث..." aria-label="Search" name="search"
                        value="{{ search_query }}">
                    <button type="submit"><img src="{% static 'img/search.png'%}" alt=""></button>
                </form>
            </div>
        </div>
    </div>
</div>

<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">الأسم</th>
            {% if request.user.type == "Admin" %}
            <th scope="col">رقم التلفون</th>
            {% endif %}
            <th scope="col">المحافظه</th>
            <th scope="col">الولايه</th>
            <th scope="col">رابط الدفع</th>
            <th scope="col">تاريخ الانضمام</th>
            {% if request.user.type == "Admin" %}
            <th scope="col">الفاتوره</th>
            {% endif %}
            <th scope="col">تعديل</th>
            <th scope="col">حذف</th>
            
        </tr>
    </thead>
    <tbody>
        {% for family in families %}
        <tr>
            <td>{{family.name}}</td>
            <td>{{family.number}}</td>
            <td>{{family.address}}</td>     
            <td>{{family.the_state}}</td>     
            <td>{{family.payment_link}}</td>     
            <td>{{family.created_at}}</td>     
            <td><a href="{% url 'dash:family_invoice_details' family.id %}"><img class="icon" src="{% static 'img/validating-ticket.png'%}"></a></td>       
            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editModalfamily{{family.id}}"><img class="icon" src="{% static 'img/edit.png'%}"></a></td>
            <td><a href="#" data-bs-toggle="modal" data-bs-target="#deleteModalfamily{{family.id}}"><img class="icon" src="{% static 'img/delete.png'%}"></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal for Family -->
<div class="modal fade" id="staticBackdropfamily" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">تسجيل عائلة</h5>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'dash:register_family' %}">
                    {% csrf_token %}
                    {{ families_form.as_p }}
                    <input type="submit" class="hidden" id="hiddenSubmiSave-{{family.id}}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onclick="document.getElementById('hiddenSubmiSave-{{family.id}}').click();">تسجيل</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>


{% for family in families %}
<div class="modal fade" id="editModalfamily{{family.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">تعديل عائلة</h5>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'dash:edit_family' family.id %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">الأسم</label>
                        <input type="text" class="form-control" name="name" value="{{ family.name }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">رقم الهاتف</label>
                        <input type="text" class="form-control" name="phone" value="{{ family.number }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">الجنس</label>
                        <select class="form-select" name="gender">
                            <option value="Male" {% if family.gender == "Male" %}selected{% endif %}>ذكر</option>
                            <option value="Female" {% if family.gender == "Female" %}selected{% endif %}>أنثى</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">المشرف</label>
                        <select class="form-select" name="manager">
                            {% for manager in managers %}
                            <option value="{{manager.id}}">{{manager.name}}</option>                      
                            {% endfor %}                          
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">العنوان</label>
                        <input type="text" class="form-control" name="address" value="{{ family.address }}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">الولاية</label>
                        <input type="text" class="form-control" name="the_state" value="{{ family.the_state }}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">رابط الدفع</label>
                        <input type="text" class="form-control" name="payment_link" value="{{ family.payment_link }}">
                    </div>

                    <input type="submit" class="hidden" id="hiddenSubmitBtn-{{family.id}}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    onclick="document.getElementById('hiddenSubmitBtn-{{family.id}}').click();">حفظ التغييرات</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for family in families %}
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModalfamily{{family.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">تأكيد الحذف</h5>
            </div>
            <div class="modal-body">
                هل أنت متأكد أنك تريد حذف هذه الشخص؟
            </div>
            <div class="modal-footer">
                <a style="width:100%;" class="btn btn-danger" href="{% url 'dash:delete_family' family.id %}">حذف</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}