{% extends "base.html" %}
{% load static %}
{% block title %}
<h3 class="text-center">Instructor Invoices</h3>
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <form method="GET" action="{% url 'dash:instructor_invoices' %}">
            <div class="mb-2">
                <label for="dateInput" class="form-label">Select Date</label>
                <input type="month" class="form-control" id="dateInput" name="filter_month"
                    value="{% if request.GET.filter_month %}{{ request.GET.filter_month }}{% else %}{{ current_date|date:'Y-m' }}{% endif %}"
                    onchange="this.form.submit()">
            </div>
        </form>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Teacher</th>
            <th scope="col">Sessions</th>
            <th scope="col">Hours</th>
            <th scope="col">Cash</th>
            <th scope="col">Phone</th>
            <th scope="col">Payment Link</th>
        </tr>
    </thead>
    {% if invoices|length > 0 %}
    <tbody>
        {% for instructor_id, total in instructor_totals.items %}
        <tr>
            <td>{{ total.instructor.user.name }}</td>
            <td>{{ total.total_sections }}</td>
            <td>{{ total.total_hours }}</td>
            <td>{{ total.total_salary|floatformat:"2" }} $</td>
            <td>{{ total.instructor.user.phone }}</td>
            <td>{{ total.instructor.payment_link }}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
        <p class="text-danger">No invoices for the selected month.</p>
    {% endif %}
</table>

<div class="total">
    <hr>
    <h3>Total Invoices</h3>
    <hr>
    <div class="list">
        <div class="col">
            <p>Total Sessions: <span>( {{ overall_totals.total_sections }} )</span></p>
        </div>
        <div class="col">
            <p>Total Hours:  <span>( {{ total_hours }} )</span></p>
        </div>
        <div class="col">
            <p>Total Instructor Salary: <span>( ${{ overall_instructor_salary|floatformat:"2" }} )</span></p>
        </div>
    </div>
</div>
{% endblock content %}
