{% extends "base.html" %}
{% load static %}

{% block title %}
<h3 class="text-center">تسجيل معلم</h3>
{% endblock title %}
{% block content %}
<!-- Button trigger modals -->
<div class="row">
    <div class="col-md-3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropinst">
            تسجيل معلم
        </button>
    </div>
</div>
<hr/>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">الأسم</th>
            <th scope="col">رقم التلفون</th>
            <th scope="col">المحافظه</th>
            <th scope="col">المؤهل</th>
            <th scope="col">الراتب بالساعه</th>
            <th scope="col">رابط الحصه</th>
            <th scope="col">الفاتوره</th>
            <th scope="col">تعديل</th>
            <th scope="col">حذف</th>
            
        </tr>
    </thead>
    <tbody>
        {% for instructor in instructor %}
        <tr>
            <td>{{instructor.user.name}}</td>
            <td>{{instructor.user.phone}}</td>
            <td>{{instructor.user.address}}</td>     
            <td>{{instructor.qualification}}</td>     
            <td>{{instructor.hourly_salary}}</td>     
            <td>{{instructor.class_link}}</td>     
            <td><a href="#" data-bs-toggle="modal" data-bs-target="#invoModal"><img class="icon" src="{% static 'img/validating-ticket.png'%}"></a></td>       
            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editModal"><img class="icon" src="{% static 'img/edit.png'%}"></a></td>
            <td><a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal"><img class="icon" src="{% static 'img/delete.png'%}"></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Modal for Instructor -->
<div class="modal fade" id="staticBackdropinst" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">تسجيل معلم</h5>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'dash:register_instructor' %}">
                    {% csrf_token %}
                    {{ base_form.as_p }}
                    {{ instructor_form.as_p }}
                    <input type="hidden" name="user_type" value="Instructor">
                    <button type="submit" class="btn btn-primary">تسجيل</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>


{% endblock content %}