{% extends "base.html" %}
{% load static %}

{% block title %}
<h3 class="text-center">تسجيل طالب لمعلم</h3>
{% endblock title %}
{% block content %}
<!-- Button trigger modals -->
<!-- Button trigger modals -->
<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropinststudent">
            التسجيل
        </button>
    </div>
</div>
<hr/>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">المعلم</th>
            <th scope="col">الطالب</th>
            <th scope="col">حذف</th>
        </tr>
    </thead>
    <tbody>
        {% for user in inst_student %}
            <tr>
                <td>{{user.instructor}}</td>
                <td>{{user.student}}</td>
                <td><a href="#" data-bs-toggle="modal" data-bs-target="#deleteModalstudent_insta{{user.id}}"><img class="icon" src="{% static 'img/delete.png'%}"></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>



<!-- Modal for Student -->
<div class="modal fade" id="staticBackdropinststudent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">تسجيل طالب لمعلم</h5>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="hidden" id="hiddenSubmitBtn">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    onclick="document.getElementById('hiddenSubmitBtn').click();">تسجيل</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>

{% for student in inst_student %}
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModalstudent_insta{{student.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">تأكيد الحذف</h5>
            </div>
            <div class="modal-body">
                هل أنت متأكد أنك تريد حذف الطالب من ذلك المعلم؟
            </div>
            <div class="modal-footer">
                <a style="width:100%;" class="btn btn-danger" href="{% url 'dash:del_student_instructor' student.id %}">حذف</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const familySelect = document.getElementById('id_family');
        const studentSelect = document.getElementById('id_student');

        familySelect.addEventListener('change', function () {
            const familyId = this.value;
            
            // Clear the current student options
            studentSelect.innerHTML = '<option value="">اختر الطالب</option>';

            if (familyId) {
                fetch(`/dashboard/get_students_by_family/${familyId}/`)
                    .then(response => response.json())
                    .then(data => {
                        data.students.forEach(student => {
                            const option = document.createElement('option');
                            option.value = student.id;
                            option.textContent = student['name'];
                            studentSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error fetching students:', error));
            }
        });
    });
</script>
{% endblock content %}