{% extends "base.html" %}
{% load static %}
{% block title %}
<h3 class="text-center">تسجيل مسوق</h3>
{% endblock title %}
{% block content %}
<!-- Button trigger modals -->
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="register-button">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropmarketer">
                تسجيل مسوق
                </button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="search">
                <form method="get" role="search">
                    <input class="form-control" type="search" placeholder="بحث..." aria-label="Search" name="search"
                        value="{{ search_query }}">
                    <button type="submit"><img src="{% static 'img/search.png'%}" alt=""></button>
                </form>
            </div>
        </div>
    </div>
<hr>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">الأسم</th>
            <th scope="col">رقم التلفون</th>
            <th scope="col">المحافظه</th>
            <th scope="col">المرتب</th>
            <th scope="col">النسبة</th>
            {% if request.user.type == "Admin" %}
            <th scope="col">تعديل</th>
            <th scope="col">حذف</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for marketer in marketer %}
        <tr>
            <td>{{marketer.user.name}}</td>
            <td>{{marketer.user.phone}}</td>
            <td>{{marketer.user.address}}</td>
            <td>{{marketer.salary}}</td>
            <td>{{marketer.ratio}}</td>
            {% if request.user.type == "Admin" %}
            <td><a href="#" data-bs-toggle="modal" data-bs-target="#editModalmarkter{{marketer.user.id}}"><img class="icon"
                        src="{% static 'img/edit.png'%}"></a></td>
            <td><a href="#" data-bs-toggle="modal" data-bs-target="#deleteModalmarkter{{marketer.user.id}}"><img class="icon" src="{% static 'img/delete.png'%}"></a></td>
            {% endif %}
        </tr>            
        {% empty %}
        <h6 class="text-center">لا يوجد مسوقين الأن</h6>
        <hr>
        {% endfor %}
    </tbody>
</table>


<!-- Modal for marketer -->
<div class="modal fade" id="staticBackdropmarketer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">تسجيل مسوق</h5>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'dash:register_marketer' %}">
                    {% csrf_token %}
                    {{ base_form.as_p }}
                    {{marketer_form.as_p}}
                    <input type="hidden" name="user_type" value="Marketer">
                    <input type="submit" id="create-marketer" class="hidden">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    onclick="document.getElementById('create-marketer').click();">حفظ التغييرات</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>

{% for marketer in marketer %}
<div class="modal fade" id="editModalmarkter{{marketer.user.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">تعديل المسوق</h5>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'dash:edit_markter' marketer.user.id %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">الأسم</label>
                        <input type="text" class="form-control" name="name" value="{{ marketer.user.name }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">رقم الهاتف</label>
                        <input type="text" class="form-control" name="phone" value="{{ marketer.user.phone }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">العنوان</label>
                        <input type="text" class="form-control" name="address" value="{{ marketer.user.address }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">الجنس</label>
                        <select class="form-select" name="gender">
                            <option value="Male" {% if marketer.user.gender == "Male" %}selected{% endif %}>ذكر</option>
                            <option value="Female" {% if marketer.user.gender == "Female" %}selected{% endif %}>أنثى</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">العمر</label>
                        <input type="number" class="form-control" name="age" value="{{ marketer.user.age }}" min="1" max="99" maxlength="2">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">المرتب</label>
                        <input type="salary" class="form-control" name="salary" value="{{marketer.salary}}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">النسبة</label>
                        <input type="ratio" class="form-control" name="ratio" value="{{marketer.ratio}}" min="1" max="99" maxlength="2">
                    </div>
                    <input type="submit" class="hidden" id="hiddenSubmitBtn-{{marketer.user.id}}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    onclick="document.getElementById('hiddenSubmitBtn-{{marketer.user.id}}').click();">حفظ التغييرات</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for marketer in marketer %}
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModalmarkter{{ marketer.user.id }}" tabindex="-1" aria-labelledby="deleteModal{{ marketer.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">تأكيد الحذف</h5>
            </div>
            <div class="modal-body">
                هل أنت متأكد أنك تريد حذف هذه الشخص؟
            </div>
            <div class="modal-footer">
                <a style="width:100%;" class="btn btn-danger" href="{% url 'dash:delete_markter' marketer.user.id %}">حذف</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock content %}