{% extends "base.html" %}
{% load static %}
{% block title %}
<div class="title-invoices">
    <h3 class="text-center">Student Invoice</h3>
    <h6 class="text-center">{{ student.name }}</h6>
</div>
{% endblock title %}

{% block content %}
<div class="list-family">
    <ul>
        <li>Quran Utla Academy</li>
        <li>Phone Number: +20 1014205947</li>
        <li>Email: admin@quran.com</li>
        <li>Address: Egypt - Cairo</li>
    </ul>

    <a href="https://quranutla.com/" target="_blank"><img src="{% static 'img/logo.png' %}" alt="logo"></a>

    <div class="back-to-previous">
        <a href="javascript:history.back()">Back To First Page</a>
    </div>
</div>
<hr>

<div class="table-wrapper">
    <h3 class="table-title">Class Details</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Student</th>
                <th>Teacher</th>
                <th>Hours</th>
            </tr>
        </thead>
        <tbody>
            {% if total_classes > 0 %}
            {% for class in classes %}
            <tr class="clickable-row">
                <td>{{ class.student.name }} <img style="width: 10px;" src="{% static 'img/plus.png' %}" alt="plus"></td>
                <td>{{ class.instructor.user.name }}</td>
                <td>{{ class.class_hours }}</td>
            </tr>
            <tr class="details-row">
                <td colspan="4">
                    <div class="details-content">
                        <p><strong>Date:</strong> {{ class.date }}</p>
                        <p><strong>Evaluation:</strong> {{ class.evaluation }}</p>
                        <p><strong>Comment:</strong> {{ class.notes }}</p>
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4" class="text-danger">لا توجد حصص لهذه الشهر للطالب المحدد.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>


<div class="total-list">
    <a href="https://quranutla.com/" target="_blank"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
    <div class="total">
        <div class="list">
            <div class="col">
                <h4>Total Invoice</h4>
                <h6>Invoice for Month {{ selected_month|date:"m/Y" }}</h6>
                <p>Total Hours: <span>{{ total_hours }}</span></p>
                <p>Total Sessions: <span>{{ total_classes }}</span></p>
                <p>Total Before Tax: <span>${{ total_before_tax|floatformat:"2" }}</span></p>
                <p>Total After Tax: <span>${{ total_after_tax|floatformat:"2" }}</span></p>
                <p>Tax Percentage: <span>{{ tax_percentage }}%</span></p>
            </div>
        </div>
    </div>
</div>


<script>document.addEventListener("DOMContentLoaded", function () {
    var clickableRows = document.querySelectorAll(".clickable-row");
    clickableRows.forEach(function (row) {
        row.addEventListener("click", function () {
            var nextRow = this.nextElementSibling;
            if (nextRow && nextRow.classList.contains("details-row")) {
                nextRow.style.display = (nextRow.style.display === "table-row") ? "none" : "table-row";
            }
        });
    });
});</script>
{% endblock content %}
