{% extends "base.html" %}
{% load static %}

{% block title %}
<h3 class="text-center">المستخدمين المحذوفة</h3>
{% endblock title %}
{% block content %}
<!-- Button trigger modals -->


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">أسم المستخدم</th>
            <th scope="col">رقم الهاتف</th>
            <th scope="col">حذف</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.phone}}</td>
                <td><a href="{% url 'dash:delete_users_list' user.id %}"><img class="icon" src="{% static 'img/delete.png' %}"></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock content %}