{% extends 'index/base.html' %} {% load static %} {% block content %}

<div class="testimonials about-our-mission"">
    <div class="container">
        <div class="main-title">
            <h2>Testimonials</h2>
        </div>
        <div class="owl-carousel">
            {% for testimonial in testimonials %}
            <div class="items">
                <p>{{testimonial.content}}</p>
                <span>{{testimonial.name}}</span>
                <span>{{testimonial.position}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

    <div class="steps">
        <div class="container">
            <div class="list">
                <div class="item">
                    <img src="{% static 'index/img/steps/steps.svg' %}" alt="Simple" />
                </div>
                <div class="item">
                    <div class="main-title">
                        <h2>3 Simple Steps To Start</h2>
                    </div>
                    <div class="number">
                        {% for steps in steps_to_start %}
                        <div class="one">
                            <i class="fas fa-1"></i>
                            <h5>{{steps.title}}</h5>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="link">
                        <a href="{% url 'main:pricing' %}">See All Pricing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="steps steps-tow">
        <div class="container">
            <div class="list">
                <div class="item">
                    <img src="{% static 'index/img/steps/study-plan.svg' %}" alt="" />
                </div>
                <div class="item">
                    <div class="main-title">
                        <h2>Choose Your Study Plan</h2>
                    </div>
                    <div class="number">
                        {% for plan in study_plan %}
                        <div class="one">
                            <i class="fas fa-check"></i>
                            <h5>{{plan.title}}</h5>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="link">
                        <a href="{% url 'main:pricing' %}">See All Pricing Plans</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
