{% extends "base.html" %}
{% block content %}
<div class="main_content_iner ">
    <div class="container-fluid plr_30 body_white_bg pt_30">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="single_element">
                    <div class="quick_activity">
                        <div class="row">
                            <div class="col-12">
                                <div class="quick_activity_wrap">
                                    <div class="single_quick_activity">
                                        <h4>الطلاب</h4>
                                        <h3>+ <span class="counter">5,000</span> </h3>
                                        <p>لدينا</p>
                                    </div>
                                    <div class="single_quick_activity">
                                        <h4>العائلات</h4>
                                        <h3>+ <span class="counter">1,000</span> </h3>
                                        <p>لدينا</p>
                                    </div>
                                    <div class="single_quick_activity">
                                        <h4>البلاد</h4>
                                        <h3>+ <span class="counter">25</span> </h3>
                                        <p>لدينا</p>
                                    </div>
                                    <div class="single_quick_activity">
                                        <h4>المعلمين</h4>
                                        <h3>+ <span class="counter">1000</span> </h3>
                                        <p>لدينا</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}